@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth
}

/***** MENU *****/
header{
    display: none;
}

.nav{
    display: none;
}

nav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    margin-right: 30px;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
}

.btn_name{
    position: relative;
}

.btn_name:hover h1{
    right: 42px;
    opacity: 1;
}

:root{
    --button-width: 30px;
}

#button{
    width: var(--button-width);
    height: 150px;
    border-radius: 30px;
    background-color: white;
    position: relative;
    overflow-y: hidden;
    z-index: 1;
    border: 1px solid white;
}

.button-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    transition: all 1s;
}

#button:hover .button-hover{
    top: 0;
}

.button-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 var(--button-width) var(--button-width);
    border-color: transparent transparent black transparent;
}

.button-body{
    width: 100%;
    height: calc(100% - var(--button-width));
    background-color: black;
}

nav h1{
    font-family: 'Aboreto', cursive;
    font-size: 35px;
    font-weight: 100;
    position: absolute;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    transition: all 1s;
    right: 0;
    opacity: 0; 
    top: 50%;
}

.back-top{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 5%;
    right: 26px;
}

/***** ACCUEIL *****/

#accueil{
    width: 100%;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
}

#accueil h1{
    font-family: 'Aboreto', cursive;
    font-size: 70px;
    font-weight: 100;
}

.bouton-accueil{
    width: 150px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid white;
    font-family: 'Aboreto', cursive;
    font-weight: 800;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 30px;
}

.bouton-accueil:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}

.choice{
    display: flex;
    gap: 10%;
    margin-top: 20px;
}

.discover{
    width: fit-content;
    color: white;
    margin-left: 10%;
    position: sticky;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
}

.section{
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

.last{
    min-height: 150vh!important;
}

.image-container{
    position: relative;
}

.moi{
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    right: 7%;
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    opacity: 0;
    transition: opacity 0.3s;
}

.section.active .moi{
    opacity: 1;
}

.metier{
    color: white;
    font-size: 12px;
    font-family: 'Aboreto', cursive;
    font-weight: 800;
}


/***** PROFIL *****/
.tempo{
    height: 25vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profil{
    background-color: black;
    color: white;
}

.left-content{
    display: flex;
    width: 80%;
    height: 100vh;
    margin: 0 auto;

    justify-content: center;
}

.right-content{
    display: flex;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: center;
}

.contenu{
    position: sticky;
    height: 500px;
    width: 500px;
    top: 20%;
    background: white;
    z-index: 1;
}

.texte{
    width: 50%;
    position: relative;
    top: 20%;
    margin-left: 30px;
    text-align: justify;
    font-size: 20px;
}

.texte-droite{
    width: 50%;
    position: relative;
    top: 20%;
    margin-right: 30px;
    text-align: justify;
    font-size: 20px;
}

.infos h1{
    background-color: black;
    width: 100%;
    padding: 5px;
}


/***** COMPETENCES *****/

#competences{
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#myWork{
    font-family: 'Aboreto', cursive;
    color: white;
    font-size: 55px;
    font-weight: 100;
    height: fit-content;
}

.categorie{
    display: flex;
    align-items: center;
}

.gauche{
    position: relative;
   /* left: -100%; */
    margin-bottom: 150px
}

.droite{
    flex-direction: row-reverse;
    position: relative;
   /* right: -100%; */
    margin-bottom: 150px
}

.photo{
    width: 250px;
    height: 300px;
    background-color: grey;
}

.gauche .photo{
    margin-right: 25px;
}

.droite .photo{
    margin-left: 25px;
}

h3.cat{
    font-family: 'Aboreto', cursive;
    font-weight: 100;
    font-size: 35px;
    display: block;
    border-bottom: 1px solid white;
}

.cat a{
    text-decoration: none;
    color: white;
}



/***** GALERIE *****/

#galerie{
    min-height: 100vh;
    background-color: #011640;
}

.echo{
    height: 100px;
    width: 100%;
    display: flex;
    background-color: grey;
}



/***** CONTACT *****/

#contact{
    min-height: 100vh;
    background-color: #c0c0c0;
}


/***** 1350px *****/


@media all and (max-width: 1300px){
    

    #accueil h1{
        font-size: 55px;
    }
}


/***** 1200px *****/


@media all and (max-width: 1200px){
    
}


/***** 1024px *****/

@media all and (max-width: 1024px){
    nav{
        display: none;
    }

    /***** BURGER MENU *****/
}



/***** 768px *****/
@media all and (max-width: 768px){

    .moi{
        right: 0;
        background-position-x: center;
        background-position-y: center;
    }

    .choice{
        display: flex;
        margin-top: 20px;
        gap: 10px;
        flex-direction: column;
    }

        /* Profil */
    .tempo{
        display: none;
    }


}


/***** 450px *****/


@media all and (max-width: 450px){
 
    .moi{
        background-size: 165%;
    }

    #accueil h1{
        font-size: 47px;
    }

    .discover{
        top: 70%;
    }

    .choice{
        gap: 25px;
    }

    .bouton-accueil{
        font-size: 15px;
    }

}


/***** 375px *****/


@media all and (max-width: 375px){

    .moi{
        background-size: 140%;
    }

    #accueil h1{
        font-size: 43px;
    }

}