@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth
}


/***** MENU *****/
header{
    display: none;
}

.nav{
    display: none;
}

nav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    margin-right: 30px;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
}

.burgerNav{
    display: none;
}

.btn_name{
    position: relative;
}

.btn_name:hover h1{
    right: 42px;
    opacity: 1;
}

:root{
    --button-width: 30px;
}

#button{
    width: var(--button-width);
    height: 150px;
    border-radius: 30px;
    background-color: white;
    position: relative;
    overflow-y: hidden;
    z-index: 1;
    border: 1px solid white;
}

.button-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    transition: all 1s;
}

#button:hover .button-hover{
    top: 0;
}

.button-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 var(--button-width) var(--button-width);
    border-color: transparent transparent black transparent;
}

.button-body{
    width: 100%;
    height: calc(100% - var(--button-width));
    background-color: black;
}

nav h1{
    font-family: 'Aboreto', cursive;
    font-size: 35px;
    font-weight: 100;
    position: absolute;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    transition: all 1s;
    right: 0;
    opacity: 0; 
    top: 50%;
}

.back-top{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 5%;
    right: 26px;
}

/***** FOOTER *****/
#footer1 {
    width: 100%;
    min-height: 40vh;
    background-color: black;
    color: white;
    font-family: 'Aboreto', cursive;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    z-index: 5;
}

#footer1 ul {
    list-style: none;
    margin-bottom: 30px;
}

#footer1 h3 {
    padding-top: 30px;
    margin-bottom: 30px;
}

#footer1 a {
    text-decoration: none;
    color: white;
    font-family: 'Outfit', sans-serif;
    line-height: 37px;
}

#footer2 {
    font-family: 'Outfit', sans-serif;
    width: 100%;
    min-height: 6vh;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

#footer2 div {
    text-align: center;
    line-height: 20px;
}

#menufooter3 ul :nth-child(3) {
    margin-top: 40px;
}


@media all and (max-width: 650px) {
    #footer1 {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footer1 h3 {
        text-align: center;
    }

    #footer1 ul {
        text-align: center;
    }

    .menufooter {
        width: 80%;
    }

    #footer2 {
        font-size: 13px;
    }
}


/**************** LEGAL MENTIONS ***************/

.legalBody{
    background-color: black;
}

#legalmentions {
    width: 100%;
    min-height: 100vh;
    color: white;
    background-color: black;
    font-family: 'Outfit', sans-serif;
    padding-bottom: 200px;
    overflow: hidden;
}

.wrapperlegal{
    width: 80%;
    margin: 0 auto;
}

#legalmentions h1 {
    font-size: 3em;
    padding-top: 12%;
    margin-bottom: 40px;
}

#sous-titre {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 10px 15px 15px 15px;
}

#legalmentions p {
    font-size: 20px;
    margin-top: 10px;
}

#legalmentions h3 {
    font-size: 2em;
    margin-top: 25px;
}

#legalmentions ul li {
    font-size: 20px;
    list-style: decimal;
    list-style-position: inside;
    margin-top: 20px;
}

#legalmentions ul li p {
    margin-left: 20px;
    line-height: 25px;
}

#lienlegal {
    word-break: break-all;
}

@media all and (max-width: 900px) {
    #legalmentions h1 {
        padding-top: 25%;
    }
}

/**************** Page 404 ***************/

.body404{
    background-color: black;
}
.notfound{
    height: 90vh;
    background-color: black;
    color: white;
    font-family: 'Aboreto', cursive;
    display: flex;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.page{
    font-size: 75px!important;
}

/***** ACCUEIL *****/

#accueil{
    background-color: black;
    flex-direction: column;
    justify-content: center;
}

#accueil h1{
    font-family: 'Aboreto', cursive;
    font-size: 70px;
    font-weight: 100;
}

#looking{
    font-size: 50px!important;
}

.bouton-accueil{
    width: 150px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid white;
    font-family: 'Aboreto', cursive;
    font-weight: 800;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 30px;
}

.bouton-accueil:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}

.DLCV{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;}

.cv{
    width: 240px;
    margin-top: 52px;
    display: flex;
    justify-content: center;
}

.details{
    display: flex;
    color: grey;
    font-size: 15px;
}

.whoami{
    background-color: black!important;
    border: 1px solid white!important;
    color: white!important;
}

.whoami:hover{
    color: black!important;
    background-color: white!important;
}


.choice{
    display: flex;
    gap: 5%;
    margin-top: 20px;
}

.discover{
    width: fit-content;
    color: white;
    margin-left: 10%;
    position: sticky;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
}

.section{
    height: 100vh;
    display: flex;
}

.parfait{
    width: 50%;
}

.gif{
    width: 50%;
    background-image: url(images/accueil/GifAnim.gif);
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;}


 .jobs{
    height: 60px;
    width: 900px;
    line-height: 60px;
 }
 .nametag{
    position: absolute;
    width: fit-content;
  }
  
  .nametag:nth-of-type(1){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-direction: normal;
    color: yellow;
  }
  
  .nametag:nth-of-type(2){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-direction: normal;
    color: rgb(0, 255, 255);
  }
  
  .nametag:nth-of-type(3){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-direction: normal;
    color: crimson;
  }

  .nametag:nth-of-type(4){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 6s;
    animation-duration: 2s;
    animation-direction: normal;
    color: mediumspringgreen;
  }

  .nametag:nth-of-type(5){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 8s;
    animation-duration: 2s;
    animation-direction: normal;
    color: purple;
  }

  .nametag:nth-of-type(6){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 10s;
    animation-duration: 2s;
    animation-direction: normal;
    color: blue;
  }

  .nametag:nth-of-type(7){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 2s;
    animation-direction: normal;
    color: orange;
  }

  .nametag:nth-of-type(8){
    animation-name: gotu;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 14s;
    animation-duration: 2s;
    animation-direction: normal;
    color: white;
  }


  
  @keyframes fade{
      0% {
        opacity: 0;
      }
      60% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    @keyframes gotu{
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
  


/***** PROFIL *****/
.tempo{
    height: 25vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tempo h2{
    font-family: 'Aboreto', cursive;
    color: white;
    font-size: 55px;
    font-weight: 100;
    height: fit-content;
}

#profil{
    background-color: black;
    color: white;
}

.presentation{
    font-family: 'Aboreto', cursive;
    color: white;
    font-size: 38px;
    font-weight: 100;
    margin: 40px 0 40px 0;
}

.left-content{
    display: flex;
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    justify-content: center;
}

.contenu{
  /*  position: sticky; */
    height: 428px;
    width: 330px;
    top: 20%;
    background: white;
    z-index: 1;
    background-image: url(images/whoami/whoami.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border: 1px solid white;
    border-radius: 15px;
}

.texte{
    width: 50%;
    position: relative;
    margin-left: 30px;
    text-align: justify;
    font-size: 20px;
}

.infos h1{
    background-color: black;
    width: 100%;
    padding: 5px;
}



/***** SKILLS *****/

#competences{
    min-height: 50vh;
    background-color: black;
    display: grid;
    position: relative;

}

.skills{
    display: flex;
    width: 200px;
    height: 100px;
    background-color: white;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}

.skillsWrapper{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    row-gap: 25%;
    position: relative;
    z-index: 200;
}

#competences img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}


/***** MY WORK *****/

.montravail{
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.categorie{
    display: flex;
    align-items: center;
    transition: all 1s;
    text-decoration: none;
}

.categorie:hover{
    opacity: 50%;
    cursor: pointer;
}

.gauche{
    position: relative;
   /* left: -100%; */
    margin-bottom: 150px
}

.droite{
    flex-direction: row-reverse;
    position: relative;
   /* right: -100%; */
    margin-bottom: 150px
}

.photo{
    width: 250px;
    height: 300px;
    background-color: grey;
}

.gauche .photo{
    margin-right: 25px;
}

.droite .photo{
    margin-left: 25px;
}

h3.cat{
    font-family: 'Aboreto', cursive;
    font-weight: 100;
    font-size: 35px;
    display: block;
    border-bottom: 1px solid white;
    color: white;
}

.travaux{
    display: flex;
    height: 250px;
    object-fit: cover;
    display: grid;
    margin: 0 10px 0 10px;
}


/***** GALERIE *****/

.galleryBody{
    background-color: black;
}

#galerie{
    min-height: 100vh;
    background-color: black;
    
}

.gallery{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    margin: 0 auto;
    row-gap: 15%;
}

.titre{
    color: white;
}

.format{
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}


.lightbox{
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
}

.close{
    color: white;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/***** CONTACT *****/

#contact{
    position: relative;
    min-height: 70vh;
    background-color: black;
}

.containercontact{
    box-sizing : border-box;
    padding:20px;
    width: 100%;
    max-width: 440px;
    margin:0 auto;
  }

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nom{
    background-color: black;
    height: 50px;
    width: 250px;
    color: white;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 12px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#email{
    background-color: black;
    height: 50px;
    width: 300px;
    color: white;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

input[type=text], textarea, input[type=email]{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

input[type=submit]{
    font-family: 'Aboreto', cursive;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
  
input[type=submit]:hover{
    background-color: white;
    color: black;
}

.success{
    height: 70px;
    width: 300px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    font-family: 'Aboreto';
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
/***** BACK BUTTON *****/

.back{
    display: flex;
    height: 100%;
    width: 100%;
}

.goBack{
    display: flex;
    background-color: black;
    font-family: 'Aboreto', cursive;
    font-size: 20px;
    color: white;
    height: 10vh;
    align-items: center;
    margin-left: 50px;
}


  /*********** MEDIA QUERIES***********/


  /***** iPad Pro *****/
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
        
        /*** GENERAL ***/
        .normalNav{
            display: none;
        }
        /***** BURGER MENU *****/
    
        .burger-container {
            width: 40px;
            height: 40px;
            cursor: pointer;
            position: fixed;
            z-index: 1001;
            transition: all 1s;
            left: 5%;
            top: 10px;
          }
        
        .burger-container.option-2 span {
            background-color: white;
            transition: width 0.5s, background-color 0.5s;
        }
        
        .burger-container.option-2 span:first-child {
            width: 50%;
            margin-left: auto;
        }
        
        .burger-container.option-2 span:last-child {
            width: 50%;
        }
        
        .burger-container.option-2:hover span {
            background-color: white;
        }
        
          .burger-container.option-2:hover span:first-child {
            width: 100%;
        }
        
        .burger-container.option-2:hover span:last-child {
            width: 100%;
        }
          
        .burger-container span {
            display: block;
            width: 100%;
            height: 2px;
            margin-top: 12px;
        }
    
        .burgerNav{
            height: 100vh;
            width: 100%;
            transition: all 1s;
            left: -100%;
            position: fixed;
            z-index: 1000;
            display: flex;
            align-items: center;
            background: rgba( 47, 47, 47, 0.65 );
            backdrop-filter: blur( 4.5px );
        }
    
        .on{
            left: 0!important;
            position: fixed;
        }
    
        .burgerOn{
            left: 90%;
        }   
    
        .burgerNav a{
            color: black;
            width: 148px;
            height: 80px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 20px;
            font-family: 'Aboreto', cursive;
            font-weight: 100;
            font-size: 25px;
        }
    
}


/***** 1400px *****/
@media all and (max-width: 1400px){
    /*** ACCUEIL ***/
        .moi{
            right: 0;
        }
    /*** PROFIL ***/
    /*** SKILLS ***/
    /*** MY WORK ***/
    /*** CONTACT ***/
}


/***** 1200px *****/
@media all and (max-width: 1200px){
    /*** ACCUEIL ***/
    /*** PROFIL ***/
    /*** SKILLS ***/
    /*** MY WORK ***/
    /*** CONTACT ***/

}


/***** 1024px *****/
@media all and (max-width: 1024px){

    /*** GENERAL ***/
        .normalNav{
        display: none;
    }
    /***** BURGER MENU *****/

    .burger-container {
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: fixed;
        z-index: 1001;
        transition: all 1s;
        left: 5%;
        top: 10px;
      }
    
    .burger-container.option-2 span {
        background-color: white;
        transition: width 0.5s, background-color 0.5s;
    }
    
    .burger-container.option-2 span:first-child {
        width: 50%;
        margin-left: auto;
    }
    
    .burger-container.option-2 span:last-child {
        width: 50%;
    }
    
    .burger-container.option-2:hover span {
        background-color: white;
    }
    
      .burger-container.option-2:hover span:first-child {
        width: 100%;
    }
    
    .burger-container.option-2:hover span:last-child {
        width: 100%;
    }
      
    .burger-container span {
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 12px;
    }

    .burgerNav{
        height: 100vh;
        width: 100%;
        transition: all 1s;
        left: -100%;
        position: fixed;
        z-index: 1000;
        display: flex;
        align-items: center;
        background: rgba( 47, 47, 47, 0.65 );
        backdrop-filter: blur( 4.5px );
        font-family: 'Aboreto', cursive;
        font-weight: 100;
        font-size: 25px;
    }

    .on{
        left: 0;
        position: fixed;
    }

    .burgerOn{
        left: 90%;
    }

    .burgerNav a{
        color: black;
        width: 148px;
        height: 80px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 20px;
    }
    
    /*** ACCUEIL ***/
    /*** PROFIL ***/
    /*** SKILLS ***/
    /*** MY WORK ***/
    /*** CONTACT ***/
    
}


/***** 820px *****/   /**** iPad Air *****/
@media all and (max-width: 820px){
        
    /*** ACCUEIL ***/        
    .discover{
        top: 60%;
    }   
        
    .jobs{
        width: 600px;
    }

    #accueil h1{
        font-size: 55px;
    }
    
    .section{
        min-height: 200vh;
    }

    .last{
    min-height: 300vh!important;
}

        /*** PROFIL ***/
        /*** SKILLS ***/
        /*** MY WORK ***/
        /*** CONTACT ***/
}

/***** 768px *****/
@media all and (max-width: 768px){

    /*** ACCUEIL ***/
    
    .discover{
        top: 65%;
    }  
    .moi{
        top: 65px;
    }

        
    /*** PROFIL ***/
    /*** SKILLS ***/
    /*** MY WORK ***/
    /*** CONTACT ***/



}

/***** 428px *****/ /* iPhone 14 plus */

/************************ Faire mode paysage ********************/
/************************ Faire mode paysage ********************/
/************************ Faire mode paysage ********************/
/************************ Faire mode paysage ********************/

@media all and (max-width: 428px){

    .moi{
        right: 0;
        top: 0;
        background-position: center center;
        background-size: cover;
    }
    
    .discover{
        top: 70%;
    }

    .jobs{
        width: 375px;
    }

    #accueil h1{
        font-size: 30px;
    }

    .jobs h1{
        font-size: 36px!important;
    }
    
    /*** PROFIL ***/
    .left-content{
        display: flex;
        min-height: 100vh;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .contenu{
        position: relative;
        height: 289px;
        width: 230px;
        top: 0;
    }

    .texte{
        width: 90%;
        position: relative;
        top: 0;
        margin-left: 0;
        text-align: justify;
        font-size: 20px;
    }

    /*** SKILLS ***/
    .skillsWrapper {
    grid-template-columns: 1fr 1fr;
    row-gap: 0%;
    min-height: 100vh;
    }
    
    /*** MY WORK ***/
    .travaux{
        height: 160px;
    }

    .categorie{
        margin-bottom: 75px;
    }
}



/***** 375px *****/


@media all and (max-width: 375px){
    
    #accueil{
        height: 100vh;
    }
    
    .moi{
        right: 0;
        top: 0;
        background-position: center center;
        background-size: cover;
    }
    
    .discover{
        top: 65%;
    }

    .parfait{
        display: none;
    }

    .section{
        justify-content: center;
        min-height: 100vh;
    }

    .gif{
        width: 100%;
    }

    .jobs{
        width: 335px;
    }

    #looking{
        font-size: 28px!important;
    }

    .jobs h1{
        font-size: 32px!important;
    }
}