@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
    margin: 0;
    padding: 0;
}

/***** LOGIN *****/

.login{
    display: flex;
    background-color: black;
    height: 100vh;
    color: white;
    font-family: 'Aboreto', cursive;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textzone{
    background-color: black;
    border: 1px solid grey;
    border-radius: 10px;
    height: 25px;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Aboreto', cursive;
    
}

.log-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.buttons{
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.log-btn{
    display: block;
    width: 150px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid white;
    font-family: 'Aboreto', cursive;
    font-weight: 800;
    font-size: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 30px;
}

.log-btn:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}

.back-btn{
    display: block;
    width: 150px;
    border-radius: 30px;
    border: 1px solid grey;
    font-family: 'Aboreto', cursive;
    font-weight: 800;
    font-size: 15px;
    text-decoration: none;
    color: grey;
    text-align: center;
    line-height: 30px;
}

.back-btn:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}

.alert{
    margin-top: 10px;
    color: #af0000;
}

/***** DASHBOARD *****/





/***** TRAVAUX *****/

    /***** ADD PRODUCTS *****/
    